name: Continuous integration

on:
  push:
    branches: [dev]
  workflow_dispatch:

jobs:
  pre_commit_checks:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --show-diff-on-failure


  test_and_coverage:
    name: Test (Python ${{ matrix.python-version }}, OS ${{ matrix.os }})
    needs: pre_commit_checks
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.os == 'Windows' && 'powershell' || 'bash -el {0}' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11']
        exclude:
          - os: windows-latest
            python-version: '3.11'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment-ci.yml
          environment-name: numbacs-ci
          create-args: python=${{ matrix.python-version }}
          cache-environment: true
          init-shell: bash powershell

      - name: Install numbacs from source
        run: |
          python -m pip install --no-deps -e .

      - name: Run Pytest and Coverage (UNIX)
        if: runner.os != 'Windows'
        run: pytest -v --cov=src/numbacs --cov-report=xml tests/

      - name: Run Pytest excluding integration (Windows)
        if: runner.os == 'Windows'
        run: pytest -v --cov=src/numbacs --cov-report=xml --ignore=tests/test_integration.py tests/

      - name: Run light integration check for Windows
        if: runner.os == 'Windows'
        env:
          NUMBA_NUM_THREADS: 1
        run: python test/windows_integration_check.py
